/* STYLESHEET FOR chaselotito.com */

body {
  background-color: #11111B; /* Change this to the desired background color */
  color: #CDD6F4; /* Change this to the desired text color */
  font-family: monospace; /* Optional: Specify the font family */
}

a {
    color: #FAB387;
}

/* CLASSES */

.main{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh; /* 100% of the viewport height */
}

/* For any div that I give this class will center text! */
.center-horizontal {
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: #CDD6F4;
    width: 60%;
}

/* Contact Info Style */
.contact-info {
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

/* Profile Image Container Style */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 20px;
}

/* Profile Image Style */
.about-section img {
    max-width: 10%;
    max-height: 10%;
    width: auto;
    height: auto;
    border: 5px solid #CDD6F4;
    box-shadow: 2px 2px #FAB387;
}

.about-text {
    max-width: 30%;
}

.about-text h2 {
    padding-left: 1%;
}

.about-text p {
    padding-left: 1%;
    word-wrap: break-word;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    .about-section {
        flex-direction: column; /* Stacks image and text vertically on smaller screens */
        align-items: center; /* Center the content */
    }

    .about-section img {
        width: 120px; /* Slightly reduce the image size on mobile */
        height: 120px;
    }

    .about-text {
        max-width: 100%; /* Allow the text to take up full width on smaller screens */
        text-align: center; /* Center the text on mobile */
    }
}